html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.fui-Textarea textarea {
  height: 100% !important;
  max-height: 100% !important;
}
